<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jmy.ibaits.mapper.EmployeeMapper">
    <insert id="save">
        insert into ${emp.table}(
                                 <foreach collection="emp.columns" item="co" separator=",">
                                     ${co}
                                 </foreach>)
        values(
               <foreach collection="emp.values" item="va" separator=",">
                    #{va}
               </foreach> )
    </insert>
    <select id="findEmployeeByQueryParam" resultType="com.jmy.ibaits.model.EmployeeDO">
        SELECT  emp.id AS empId, emp.empno,emp.`name`,emp.age,dept.deptName FROM emp LEFT JOIN dept on emp.deptId = dept.id WHERE 1=1
        <if test="null != emp.age and '' != emp.age">
            and emp.age = #{emp.age}
        </if>
        <if test="null != emp.name and '' != emp.name">
            and emp.`name` = #{emp.name}
        </if>
    </select>
    <select id="findAll" resultType="java.util.Map">
        SELECT  emp.id AS empId, emp.empno,emp.`name`,emp.age,dept.deptName FROM emp LEFT JOIN dept on emp.deptId = dept.id limit 10
    </select>
</mapper>